@import "../variables.scss";
.app-content {
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    max-width: 1024px;
}

app-paint-tools {
    padding: 0 8px;
    flex: 0 0 256px;
    z-index: 10;
}

app-paint-canvas {
    flex: 1 1 $canvas-size;
}